<h3>{{ model.title }}</h3>
<h5>{{model.date}}</h5>
<p>
  {{model.body}}
</p>
<h1>Comments</h1>
{{#each model.comments as |comment|}}
  {{comment-tile comment=comment}}
  {{comment-edit comment=comment update1="update2"}}
{{/each}}
{{comment-new post=model save1="save2"}}
